$primaryLightColor : #bed2e4;
$primaryLightVariation : #a4b6c6;
$primaryBoldColor : #2e5479;
$backgroundGradient : linear-gradient(180deg, rgba(136,212,199,1) 0%, rgba(5,5,76,0.2903362028405112) 100%);
$primaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//linear-gradient(180deg, rgba(136,212,199,1) 0%, rgba(5,5,76,0.2903362028405112) 100%);
