a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(180deg, rgb(136, 212, 199) 0%, rgba(5, 5, 76, 0.2903362028) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 98vw;
  min-height: 98vh;
}

#operations {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 3.6em;
  margin-bottom: 2em;
  padding-left: 2.6em;
  width: 92vw;
}

.op-button {
  padding: 0.5em 1.6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  color: #a6d2d1;
  cursor: pointer;
  border-width: 0px;
  border-radius: 14px;
  background: #3b6867;
}

.op-button:hover {
  background: #2a4a4a;
}

.form-close-btn {
  position: absolute;
  top: 4vh;
  right: 4vw;
}

#cart-image {
  padding-left: 1em;
}

.banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-style: solid;
  border-color: #2e5479;
  border-right-width: 0em;
  border-left-width: 0em;
  border-bottom: 0.4em;
  border-top: 0em;
  border-radius: 10px;
  width: 85vw;
  margin-top: 0.2em;
  padding: 0.1em 2.5em 0.1em 2.5em;
  height: 6vh;
}
.banner .banner-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  letter-spacing: 0.2em;
  width: 50%;
}
.banner .banner-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: 50;
  width: 50%;
}

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}

.panel {
  width: 82vw;
  margin-bottom: 2em;
  margin-top: 2em;
  min-height: 82vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.overlay-panel {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

.listing-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 82vw;
  margin-bottom: 2em;
  margin-top: 2em;
  min-height: 82vh;
}

.listing {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 24em;
  background: linear-gradient(11deg, rgb(147, 218, 223) 0%, rgb(131, 249, 252) 25%, rgba(188, 230, 232, 0.7217087519) 100%);
  border-radius: 20px;
  border-width: 0.1em;
  border-style: solid;
  border-color: #3b6867;
  margin: 1em;
  padding: 0.3em 0.4em 0.3em 0.4em;
}
.listing .product-thumbnail {
  max-height: 60%;
  max-width: 90%;
  margin-bottom: 1.6em;
  border-radius: 6px;
}
.listing .product-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  word-wrap: break-word;
  max-width: 100%;
  padding: 0em 0.7em;
  box-sizing: border-box;
  text-align: center;
}
.listing .product-price {
  font-size: xx-large;
}

.product-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-wrapper {
  max-width: 28vw;
  background: linear-gradient(180deg, rgb(136, 212, 199) 0%, rgba(5, 5, 76, 0.2903362028) 100%);
  padding: 3em;
  margin: auto;
  margin-top: 18vh;
  border-radius: 5px;
  border-style: solid;
  border-color: #3b6867;
  border-width: 0.7em;
}/*# sourceMappingURL=style.css.map */